// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// adjust the remember me & checkbox positions
.remember-checkbox {
  position: relative;
  left: 0px;
  //margin-left: 10px;
}

.checkbox {
  margin-left: 20px;
}
